.product-additional__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
}

.additional__title {
  @include font-text($oswald, 24px, 24px, 400);
  margin: 0;
}

.additional__text {
  @include font-text($oswald, 16px, 16px, 400);
  margin: 0;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 16px;
}

.additional__value {
  @include font-text($arial, 14px, 14px, 400);
}

.additional__price {
  @include font-text($arial, 14px, 14px, 400);
  margin-bottom: 17px;
}

.additional__gift {
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  position: relative;
  display: flex;
  width: 280px;
  padding: 190px 58px 37px;
  margin: 0 auto;
  margin-top: 39px;
}

.additional__gift-text {
  @include font-text($arial, 16px, 20px, 400);
  margin: 0;
  max-width: 166px;
  text-align: center;
  color: #ffffff;
}

.additional__list tr {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
