.advantages__title{
    font-size: 36px;
    line-height: 60px;
    margin-top: 33px;
    margin-bottom: 22px;
}

.advantages__item{
    padding:20px 0px 20px 81px;
    font-size: 14px;
    line-height: 18px;
    color: $text;
}
