.advantages {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $table-width) {
    width: 768px;
    margin: 0 auto;
    border-bottom: 1px solid $border;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    margin: 0 auto;
    border-bottom: 1px solid $border;
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 22px 0;
  width: 100%;


  @media (min-width: $table-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }


}

.advantages__wrapper {
  @include wrapper;
}

.advantages__title {
  @include font-text($oswald, 36px, 60px, 500);
  margin: 0;
  margin-top: 33px;

  @media (min-width: $table-width) {
    @include font-text($oswald, 60px, 60px, 500);
    margin-bottom: 75px;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 192px;
  }
}

.advantages__item {
  @include font-text($arial, 14px, 18px, 400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  color: $text;
  list-style: none;
  position: relative;
  margin: 20px 0;

  @media (min-width: $table-width) {
    @include font-text($arial, 16px, 24px, 400);
    padding: 0;
    margin: 0;
    padding-top: 120px;
    margin-bottom: 140px;
    max-width: 354px;
    padding-right: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    margin-bottom: 265px;
    padding-right: 0;
  }



  &:nth-last-of-type(1) {
    @media (min-width: $table-width) {
      margin-bottom: 105px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 265px;
    }
  }

  &:nth-last-of-type(2) {
    @media (min-width: $table-width) {
      margin-bottom: 105px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 265px;
    }
  }
}

.advantages__item::after {
  position: absolute;
  content: "";
  background-color: $green;
  min-width: 60px;
  height: 60px;
  top: 0;
  left: 0;

  @media (min-width: $table-width) {
    top: 0;
  }
}

.advantages__item--natural::before {
  position: absolute;
  display: block;
  z-index: 1;
  content: "";
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 29px;
  top: 15px;
  left: 17px;

  @media (min-width: $table-width) {
    top: 15px;
  }
}

.advantages__item--powder::before {
  position: absolute;
  display: block;
  z-index: 1;
  content: "";
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 32px;
  top: 14px;
  left: 15px;

  @media (min-width: $table-width) {
    top: 15px;
  }
}

.advantages__item--food-substitute::before {
  position: absolute;
  display: block;
  z-index: 1;
  content: "";
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 32px;
  top: 14px;
  left: 18px;

  @media (min-width: $table-width) {
    top: 15px;
  }
}

.advantages__item--wight::before {
  position: absolute;
  display: block;
  z-index: 1;
  content: "";
  background-image: url("../../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 29px;
  top: 15px;
  left: 17px;

  @media (min-width: $table-width) {
    top: 15px;
  }
}
