 .button--tablet {
   @media (min-width: $table-width) {
     @include font-text($oswald, 20px, 20px, 400);
     position: absolute;
     max-width: 245px;
     max-height: 50px;
     top: 298px;
     left: 122px;
     padding: 15px 26px;
   }

   @media (min-width: $desktop-width) {
    position: inherit;
   }
 }
