.button--grey {
  @include font-text($oswald, 16px, 20px, 400);
  background-color: $bgc;
  color: #000000;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border: none;

  &:hover,
  &:focus {
    background-color: #ebebeb;
    color: #444444;
  }

  &:active {
    background-color: #ebebeb;
    color: #b9b9b9;
  }
}
