.button {
  @include font-text($oswald, 14px, 18px, 400);
  max-width: 280px;
  min-height: 40px;
  padding: 13px 108px 13px 111px;
  background-color: $green;
  color: #ffffff;
  text-decoration: none;
}
