.button {
  @include font-text($oswald, 16px, 20px, 400);
  min-height: 40px;
  padding: 13px 108px 13px 111px;
  background-color: $green;
  color: #ffffff;
  text-decoration: none;
  display: block;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
