.button {
  @include font-text($oswald, 16px, 20px, 400);
  min-height: 40px;
  padding: 13px 108px 13px 111px;
  background-color: $green;
  color: #ffffff;
  text-decoration: none;
  display: block;
  border: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $border;
  border-top: 1px solid $border;
  margin-bottom: 24px;
  margin-top: 24px;

  @media (min-width: $table-width) {
    border: none;
  }
}
