.cat-target {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 320px;


  @media (min-width: $table-width) {
    max-width: 768px;
    padding: 58px 70px;

  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
  }
}
