.cat-bio label {
  @include font-text($oswald, 16px, 18px, 400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.cat-bio__input {
  @include font-text($oswald, 16px, 18px, 400);
  color: $text;
  min-height: 43px;
  width: 100%;
  padding-left: 15px;
  margin-left: 17px;
}

.cat-bio__wrapper {
  @include wrapper;
}
