.cat-contacts {
  & label {
    @include font-text($oswald, 16px, 18px, 400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    position: relative;

    @media (min-width: $table-width) {
      @include font-text($oswald, 20px, 20px, 400);

    }

    @media (min-width: $desktop-width) {

      width: 45%;
      padding: 0;
      margin: 0 10px;
      margin-bottom: 70px;
    }

  }
}

.cat-contacts__wrapper {
  @include wrapper;

  @media (min-width: $table-width) {
    padding: 0 67px 0 70px;
    width: 100%;
  }
}

.cat-contacts__info {
  @media (min-width: $table-width) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.cat-contacts__title {
  @include font-text($oswald, 24px, 24px, 400);

  @media (min-width: $table-width) {
    @include font-text($oswald, 36px, 36px, 400);
    margin: 0;
    padding-bottom: 75px;
  }
}

.cat-contacts__container {
  margin-bottom: 14px;
}

.cat-contacts__input {
  @include font-text($oswald, 16px, 18px, 400);
  color: $text;
  min-height: 43px;
  width: 100%;
  margin-left: 17px;
  padding-left: 14px;

}

.cat-contacts-icon {
  position: absolute;
  right: 15px;
}
