.cat-comments {
  position: relative;
  overflow: hidden;
}

.cat-comments__wrapper {
  @include wrapper;

  @media (min-width: $table-width) {
    margin: 0 40px;
  }
}

.cat-comments__title {
  @include font-text($oswald, 24px, 24px, 400);
  margin-top: 11px;
  margin-bottom: 35px;
}

.cot-comments__textarea {
  @include font-text($oswald, 16px, 18px, 400);
  text-transform: uppercase;
  width: 280px;
  min-height: 150px;
  padding: 13px;

  @media (min-width: $table-width) {
    width: 100%;
  }
}
