.cat-additional {
  position: relative;
}

.cat-additional__label {
  @include font-text($oswald, 16px, 18px, 400);
  position: relative;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 47px;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 20px, 400);
  }
}

.cat-additional__input {
  position: absolute;
  appearance: none;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.cat-additional__checkbox {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  background-image: url("../img/icon-cat-slim.svg");
  border: 1px solid $checkbox;
  left: 0;

  @media (min-width: $desktop-width) {
    width: 1000px;
  }
}

/*
@media (min-width: $table-width) {
  @include font-text($oswald, 20px, 20px, 400);
  width: 225px;
  margin-bottom: 32px;


  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 1px solid $border;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;

    width: 21px;
    height: 16px;
    left: 5px;
    top: 6px;
  }
}
}

/*
  .cat-additional__label:checked+.cat-additional__input::after {
    content: "";
  }
*/
.cat-additional__wrapper {
  @include wrapper;
  padding-bottom: 35px;

  @media (min-width: $table-width) {
    padding: 0 70px;
  }
}

.cat-additional__send {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $table-width) {
    flex-direction: row;
    width: 535px;
    justify-content: space-between;
    padding-bottom: 72px;
  }
}


.cat-additional__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $table-width) {
    max-width: 535px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 1125px;
  }
}

.cat-additional__title {
  @include font-text($oswald, 24px, 24px, 400);
  margin: 0;
  margin-bottom: 53px;

  @media (min-width: $table-width) {
    @include font-text($oswald, 36px, 36px, 400);
    margin: 0;
    margin-right: 50px;
    padding-left: 20px;
    max-width: 260px;
    background-color: #ffffff;
  }
}
