.cat {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 73px;
  }
}

.cat-bio label {
  @include font-text($oswald, 16px, 18px, 400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 20px, 400);
    margin: 0;
  }
}

.cat-bio__input {
  @include font-text($oswald, 16px, 18px, 400);
  color: $text;
  min-height: 43px;
  width: 100%;
  padding-left: 15px;
  margin-left: 17px;
  outline: none;

  @media (min-width: $table-width) {
    margin: 10px;
    flex: 1;
  }

  @media (min-width: $desktop-width) {
    min-height: 50px;
    width: 475px;
  }
}

.cat-bio__wrapper {
  @include wrapper;

  @media (min-width: $table-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    margin: 0;
    padding-left: 40px;
  }
}
