.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 34px;
  border-top: 1px solid $border;

  @media (min-width: $table-width) {
    border: none;
    padding: 0px;
    min-width: 162px;
    align-items: center;
  }
}

.copyright__link {
  @include font-text($arial, 16px, 16px, 400);
  text-decoration: none;
  color: $text;
}
