.copyright {

  padding: 17px 0;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  // @include font-content(16px, 16px);
  color: $icon-color;

  &:hover .copyright__logo,
  &:focus .copyright__logo,
  &:active .copyright__logo {
    fill: $icon-active-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  width: 37px;
  height: 44px;
  margin-left: 18px;
  margin-right: -5px;
  fill: currentColor;

}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    border: none;
    justify-content: flex-end;
  }

  .copyright__logo {
    margin-left: 15px;
    margin-right: -5px;
  }
}

.copyright__link {
  text-decoration: none;
  color: $text;
}
