.example {
  background-color: $bgc;
  padding-top: 33px;
  padding-bottom: 39px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  padding-bottom: 34px;
}

.example-text {
  font-size: 14px;
  line-height: 18px;
  color: $text;
  padding-bottom: 27px;
}

.example__results {
  margin-bottom: 25px;
}

.example__amount {
  font-size: 24px;
  line-height: 24px;
  padding-top: 12px;
}

.example__action {
  font-size: 12px;
  line-height: 12px;
  color: $text;
}

.example__cost{
  padding:0 46px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 46px;
}

.example-block__photo label{
  font-size: 16px;
  line-height: 20px;
}
