.example {
  background-color: $bgc;
  padding-top: 33px;
  padding-bottom: 39px;

  @media (min-width: $table-width) {
    background-color: #ffffff;
    padding-bottom: 0;
  }
}

.example__blocks {
  display: flex;
  flex-direction: column;

  @media (min-width: $table-width) {}

  @media (min-width: $desktop-width) {
    flex-direction: row;
    background-color: $bgc;
    margin-top: 76px;
  }
}

.example__block-info {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $table-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 0;
    padding-left: 40px;
  }
}

.example-big__wrapper {

  margin: 0 auto;

  @media (min-width: $table-width) {
    background-color: #ffffff;
  }

}

.example__wrapper {

  @media (min-width: $desktop-width) {
    margin-top: -168px;
  }
}

.example__title {
  @include font-text($oswald, 36px, 60px, 500);
  padding: 0 20px;
  margin: 0;
  text-align: center;

  @media (min-width: $table-width) {
    @include font-text($oswald, 60px, 60px, 400);
    padding: 0 30px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.example__text {
  @include font-text($arial, 14px, 18px, 400);
  margin: 0;
  color: $text;
  padding-top: 34px;
  padding-bottom: 27px;
  width: 270px;

  @media (min-width: $table-width) {
    @include font-text($arial, 16px, 24px, 400);
    width: 680px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    max-width: 435px;
  }
}
