.example {
  background-color: $bgc;
  padding-top: 33px;
  padding-bottom: 39px;
}

.example__blocks {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.example__wrapper {
  @include wrapper;

  @media (min-width: $desktop-width) {
    margin-top: -168px;
  }
}

.example__title {
  @include font-text($oswald, 36px, 60px, 500);

  margin: 0;

  @media (min-width: $table-width) {
    @include font-text($oswald, 60px, 60px, 400);
  }

  @media (min-width: $desktop-width) {}
}

.example__text {
  @include font-text($arial, 14px, 18px, 400);
  margin: 0;
  color: $text;
  padding-top: 34px;
  padding-bottom: 27px;
  width: 270px;

  @media (min-width: $table-width) {
    @include font-text($arial, 16px, 24px, 400);
    width: 680px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 154px;
    max-width: 435px;
  }
}
