.example {
  background-color: $bgc;
  padding-top: 33px;
  padding-bottom: 39px;
}

.example__wrapper {
  @include wrapper;
}

.example__title {
  @include font-text($oswald, 36px, 60px, 500);
  padding-bottom: 34px;
  margin: 0;

  @media (min-width: $table-width) {
    @include font-text($oswald, 60px, 60px, 400);
  }
}

.example__text {
  @include font-text($arial, 14px, 18px, 400);
  margin: 0;
  color: $text;
  padding-bottom: 27px;

  @media (min-width: $table-width) {
    @include font-text($arial, 16px, 24px, 400);
    width: 680px;
  }
}
