.gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 60px;
  min-height: 290px;

  @media (min-width: $table-width) {
    min-height: 200px;
    align-items: flex-end;
    padding-right: 125px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 290px;
    padding-right: 0;
    padding-left: 0;
    justify-content: flex-end;

  }
}

.gift__image {
  margin: 0 auto;

  @media (min-width: $table-width) {
    position: absolute;
    left: 60px;
    top: 65px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 85px;
    top: 65px;
  }
}


.gift__text {
  @include font-text($arial, 16px, 20px, 400);
  position: relative;
  margin-top: auto;
  max-width: 166px;
  text-align: center;
  color: #ffffff;


  @media (min-width: $table-width) {
    max-width: 150px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    text-align: center;
  }
}

/*
.gift__text::after {
  content: "";
  position: absolute;
  background-image: url("../../img/icon-gift.svg");
  width: 55px;
  height: 60px;
  top: 0px;
  right: 50px;

  @media (min-width: $table-width) {
    left: 0;
    right: 0;
  }

  @media (min-width: $table-width) {}
}
*/
