.map {

  padding-top: 31px;
  padding-bottom: 26px;
}

.map__title {
  @include font-text($oswald, 16px, 20px, 500);
}

.map__text {
  @include font-text($arial, 14px, 20px, 400);
  color: $text;
}

.map__info {
  @include wrapper;
  display: flex;
  justify-content: space-between;
}
