.map {
  position: relative;
  background-color: $bgc;

  @media (min-width: $table-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.map__title {
  @include font-text($oswald, 16px, 20px, 500);
  max-width: 140px;
  margin: 0;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 25px, 500);
    margin: 0;
    margin-left: 40px;
    max-width: 150px;
    text-transform: uppercase;
  }

}

.map__text {
  @include font-text($arial, 16px, 20px, 400);
  margin: 0;
  max-width: 140px;
  color: $text;

  @media (min-width: $table-width) {
    @include font-text($arial, 16px, 20px, 400);
    max-width: 155px;
    margin: 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    @include font-text($arial, 16px, 24px, 400);
    text-align: left;
  }

  &--selected {
    @media (min-width: $table-width) {
      margin-top: 25px;
    }
  }
}

.map__location {

  display: block;
  width: 100%;
  height: 363px;
  border: none;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.map__info {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 29px;


  @media (min-width: $table-width) {
    align-items: center;
    padding-top: 68px;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    min-width: 570px;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
  }
}
