.more-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
}

.more-info__title {
  @include font-text($oswald, 16px, 20px, 400);
  display: block;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 13px;
}

.more-info__text {
  @include font-text($arial, 12px, 16px, 400);
  color: $text;
  margin: 0;
  margin-bottom: 25px;
}
