.page-main {
  border-top: 1px solid $border;

  @media (min-width: $table-width) {
    border: none;
  }
}


.page-main__title {
  @include font-text($oswald, 36px, 60px, 400);
  @include wrapper;
  color: $black;
  padding-bottom: 26px;
  padding-top: 17px;

  @media (min-width: $table-width) {
    @include font-text($oswald, 60px, 60px, 400);
    margin-top: 65px;
    margin-bottom: 75px;
  }
}

.page-main__wrapper {
  @include wrapper;
  flex-wrap: wrap;
  margin: 0 auto;
}

.page-main__text {
  @include wrapper;
  padding-bottom: 42px;
}
