.page-main {
  border-top: 1px solid $border;

  @media (min-width: $table-width) {
    border: none;
  }
}


.page-main__title {
  @include font-text($oswald, 36px, 60px, 400);
  @include wrapper;
  color: $black;
  padding-bottom: 26px;
  padding-top: 17px;

  @media (min-width: $table-width) {
    @include font-text($oswald, 60px, 60px, 400);
    margin-top: 30px;
  }

  @media (min-width: $table-width) {
    margin-bottom: 60px;
  }
}

.page-main__wrapper {
  @include wrapper;
  flex-wrap: wrap;
  margin: 0 auto;
}

.page-main__text {
  @include wrapper;
  padding-bottom: 42px;

  @media (min-width: $table-width) {
    @include font-text($oswald, 14px, 18px, 400);
    color: $black;
    margin: 0;
    margin-left: 40px;
    margin-bottom: 70px;
    max-width: 330px;
    text-transform: uppercase;
  }
}
