.page-footer {
  background-color: $bgc;

  @media (min-width: $table-width) {
    min-width: 162px;
    padding-top: 63px;
    padding-bottom: 61px;
  }
}

.page-footer__wrapper {
  @include wrapper;

  @media (min-width: $table-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 31px;
  border-bottom: 1px solid $border;

  @media (min-width: $table-width) {
    padding: 0;
    border-bottom: none;
  }

}
