.page-header {
  max-width: 1300px;
  padding: 0 40px;
  margin: 54px 70px 0 70px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-nav__list {
  display: flex;
  list-style: none;
}

.site-list__item {
  & a {
    font-size: 20px;
    line-height: 25px;
    // color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }

  & + & {
    margin-left: 35px;
  }

  &--active {
    padding-bottom: 12px;
    border-bottom: 2px solid #ffffff;
  }
}
