.page-header {
  padding-top: 11px;
  padding-bottom: 17px;
  width: 320px;

  @media (min-width: $table-width) {
    width: $table-width;
    display: flex;
    padding: 0;
    padding-top: 24px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-header__logo {
  width: 195px;
}

.page-header__wrapper-container {
  @include wrapper;
  display: flex;
  justify-content: space-between;

  @media (min-width: $table-width) {
    margin: 0;
  }
}
