.product-groups__list {
  @include list-reset;
}

.product-groups__item {
  background-color: $bgc;
  padding: 22px 34px 23px 20px;
  list-style: none;
  margin-top: 20px;

  @media (min-width: $table-width) {
    display: flex;
    flex-direction: column;
    padding: 80px 60px 60px 52px;
    margin: 0px;
  }
}

.product-groups__wrapper {
  @include wrapper;
}

.product-groups__text {
  @include font-text($arial, 14px, 18px, 400);
  margin-top: 25px;
  margin-bottom: 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border;
  color: $text;

  @media (min-width: $table-width) {
    max-width: 275px;
    border: none;
  }
}

.product-groups__link {
  @include font-text($oswald, 16px, 16px, 500);
  position: relative;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;


  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-right-arrow-verylong.svg");
    width: 20px;
    height: 7px;
    right: -32px;
    top: 10px;
  }
}


.product-groups__title {
  @include font-text($oswald, 24px, 37px, 500);
  position: relative;
  margin: 0;
  padding-left: 72px;
  text-transform: uppercase;

  &--slim::after {
    position: absolute;
    content: "";
    background-image: url("../../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    left: 0;

    @media (min-width: $table-width) {
      right: 0;
      width: 140px;
      height: 194px;
      background-image: url("../../img/icon-cat-slim.svg");
    }
  }

  &--slim::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green;
    left: -12px;
  }

  &--pro::after {
    position: absolute;
    content: "";
    background-image: url("../../img/icon-cat-pro.svg");
    width: 67px;
    height: 28px;
    left: 0;
    top: 7px;
  }

  &--pro::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green;
    left: 10px;
  }


}
