.products-additional{
  border-top: 1px solid $border;
}

.products-additional__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
}

.products-additional__title {
  @include font-text($oswald, 24px, 24px, 400);
  margin: 0;
  padding-top: 24px;
  position: relative;
}

.products-additional__text {
  @include font-text($oswald, 16px, 16px, 400);
  margin: 0;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 16px;
}

.products-additional__value {
  @include font-text($arial, 14px, 14px, 400);
}

.products-additional__price {
  @include font-text($arial, 14px, 14px, 400);
  margin-bottom: 17px;
}

.products-additional__gift {
  margin-top: 39px;
}

.products-additional__list tr {
  display: flex;
  justify-content: space-between;
}
