.product-groups__list {
  @include list-reset;
}

.product-groups__item {
  position: relative;
  background-color: $bgc;
  padding: 22px 34px 23px 20px;
  list-style: none;
  margin-top: 20px;

  @media (min-width: $table-width) {
    display: flex;
    flex-direction: column;
    padding: 80px 60px 60px 52px;
  }

  &--slim::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    left: 27px;
    top: 10px;

    @media (min-width: $table-width) {
      position: absolute;
      right: 0;
      left: auto;
      top: 52px;
      width: 140px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
    }
  }

  &--slim::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green;
    left: 19px;
    top: 15px;

    @media (min-width: $table-width) {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $green;
      left: 448px;
      top: 62px;
    }
  }

  &--pro::after {
    position: absolute;
    content: "";
    background-image: url("../../img/icon-cat-pro.svg");
    width: 67px;
    height: 28px;
    left: 10px;
    top: 25px;

    @media (min-width: $table-width) {
      width: 256px;
      height: 107px;
      left: 400px;
      top: 92px;
    }
  }

  &--pro::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green;
    left: 19px;
    top: 15px;

    @media (min-width: $table-width) {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $green;
      left: 448px;
      top: 62px;
    }
  }
}

.product-groups__wrapper {
  @include wrapper;
}

.product-groups__text {
  @include font-text($arial, 14px, 18px, 400);
  margin-top: 25px;
  margin-bottom: 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border;
  color: $text;

  @media (min-width: $table-width) {
    @include font-text($arial, 16px, 24px, 400);
    max-width: 350px;
    border: none;
  }
}

.product-groups__link {
  @include font-text($oswald, 16px, 16px, 500);
  position: relative;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 20px, 500);
    color: $black;
  }


  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-right-arrow-long.svg");
    width: 15px;
    height: 7px;
    right: -32px;
    top: 10px;

    @media (min-width: $table-width) {
      left: 130px;
      top: 7px;
      width: 15px;
      height: 7px;
    }
  }
}


.product-groups__title {
  @include font-text($oswald, 24px, 37px, 500);
  margin: 0;
  padding-left: 72px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    @include font-text($oswald, 36px, 37px, 500);
    padding: 0;
  }
}
