.products-additional {
  overflow: hidden;
  position: relative;

  @media (min-width: $table-width) {
    margin-top: 65px;
    width: 100%;
  }
}

.products-additional__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
}

.products-additional__container {
  @media (min-width: $table-width) {
    display: flex;
    flex-direction: column;
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.products-additional__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.products-additional__wrapper-container:nth-child(4) {
  @media (min-width: $table-width) {
    border-bottom: 1px solid $border;
  }
}

.products-additional__wrapper-container {
  padding-bottom: 17px;
  border-bottom: 1px solid $price;

  @media (min-width: $table-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-top: 1px solid $border;
    border-bottom: none;
    margin: 0 38px;
  }

  @media (min-width: $desktop-width) {
    min-width: 895px;
    padding: 12px 0;
  }
}

.products-additional__title {
  @include font-text($oswald, 24px, 24px, 400);
  margin: 0;
  padding: 30px 0;
  position: relative;
  border-bottom: 1px solid $price;
  background-color: #ffffff;

  @media (min-width: $table-width) {
    @include font-text($oswald, 36px, 36px, 400);
    padding: 0;
    margin-bottom: 90px;
    padding-left: 38px;
    border: none;
    max-width: 411px;
  }
}

.products-additional__text {
  @include font-text($oswald, 16px, 16px, 400);
  margin: 0;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 12px;
  width: 200px;
  background-color: #ffffff;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 20px, 500);
    min-width: 290px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.products-additional__value {
  @include font-text($arial, 14px, 14px, 400);
}

.products-additional__price {
  @include font-text($arial, 14px, 14px, 400);
  margin-bottom: 17px;

  @media (min-width: $table-width) {
    @include font-text($arial, 16px, 20px, 400);
    margin: 0;
  }
}

.products-additional__gift {
  // margin-top: 39px;
  margin-bottom: 35px;

  @media (min-width: $table-width) {
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.products-additional__table tr {
  display: flex;
  justify-content: space-between;
  min-width: 280px;

  @media (min-width: $desktop-width) {
    align-items: center;
    min-width: 285px;
  }
}

.products-additional__table {
  @media (min-width: $table-width) {
    align-items: center;
  }
}
