.products {
  @include list-reset;
  @include wrapper;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $border;
  flex-wrap: wrap;

  @media (min-width: $table-width) {
    flex-direction: row;
    justify-content: space-between;
    background-color: $bgc;
  }


  & tr {
    display: flex;
    justify-content: space-between;

    @media (min-width: $table-width) {
      @include font-text($arial, 16px, 16px, 400);
      border-bottom: 1px solid $border;
      padding: 10px 0;
    }

  }

  & table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 23px;
  }


}

/*
.products__wrapper {
  @include wrapper;

  @media (min-width: $table-width) {
    width: 768px;
    border: none;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
*/
.products__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 24px;
  border-bottom: 1px solid $border;

  @media (min-width: $table-width) {
    width: 324px;
  }

  & img {
    margin: 0 auto;
    background-color: $bgc;
  }
}



.products__item-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (min-width: $table-width) {
    width: 100%;
    justify-content: space-between;
    flex: none;
  }
}

.products__title {
  @include font-text($oswald, 16px, 20px, 400);
  margin: 0;
  padding-bottom: 19px;
  padding-top: 24px;
  width: 75px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 20px, 400);
    width: 135px;
    margin: 0 auto;
    text-align: center;
  }
}

.products__criteria {
  @include font-text($arial, 16px, 16px, 400);
  color: $text;
}

.products__value {
  @include font-text($arial, 16px, 16px, 400);
  color: $text;
}
