.page-main {
  border-top: 1px solid $border;
}

.page-main__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.products__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

.product__item {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding: 0 20px 22px;
  border-bottom: 1px solid $border;
}

.product__item img {
  max-width: 140px;
}

.products__list table {
  width: 140px;
  margin: 0;
  margin-bottom: 23px;
}

.product__title {
  @include font-text($oswald, 16px, 20px, 400);
  margin: 0;
  padding-bottom: 19px;
  padding-top: 24px;
  width: 75px;
  text-transform: uppercase;
}

.product__criteria {
  @include font-text($arial, 16px, 16px, 400);
  color: $text;
}

.product__value {
  @include font-text($arial, 16px, 16px, 400);
  color: $text;
}

.more-info__title {
  @include font-text($oswald, 16px, 20px, 400);
  margin-top: 26px;
  margin-bottom: 16px;
}

.more-info__text {
  @include font-text($arial, 12px, 16px, 400);
  color: $text;
  margin-bottom: 25px;
}
