.products {

  @include list-reset;
  // @include wrapper;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $border;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $table-width) {
    @include wrapper;
    flex-direction: row;
    background-color: #ffffff;
    flex-wrap: wrap;
    border: none;
  }

  tr {
    display: flex;
    justify-content: space-between;

    @media (min-width: $table-width) {
      @include font-text($arial, 16px, 16px, 400);
      border-bottom: 1px solid $border;
      padding: 10px 0;
    }

  }

  table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 23px;
  }
}

/*
.products__wrapper {
  @include wrapper;

  @media (min-width: $table-width) {
    width: 768px;
    border: none;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
*/
.products__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  border-bottom: 1px solid $border;
  padding: 0 20px;
  padding-bottom: 24px;
  margin: 0 auto;


  @media (min-width: $table-width) {
    background-color: $bgc;
    padding: 0 38px 40px;
    width: 324px;
    margin-top: 140px;
    border: none;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    margin-top: 0;
    margin-right: 80px;
    margin-bottom: 142px;
  }

}

.products__image {
  object-fit: none;

  @media (min-width: $table-width) {
    position: absolute;
  }

  &--big {
    @media (min-width: $table-width) {
      width: 100%;
      height: 100%;
      top: -220px;
      left: 0;
    }
  }

  &--small {
    @media (min-width: $table-width) {
      width: 100%;
      height: 100%;
      top: -220px;
      left: 0;
    }
  }
}



.products__item:nth-child(4n+4) {
  @media (min-width: $table-width) {
    margin-right: 0;
  }
}

.products__item:nth-child(2n+1) {
  @media (min-width: $table-width) {
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.products__item:nth-child(-n+2) {
  @media (min-width: $table-width) {
    //margin-right: 80px;
    margin-top: 100px;
  }
}

.products__item:nth-child(n+5) {
  @media (min-width: $table-width) {
    margin-bottom: 0;
  }

}

.products__item-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  justify-content: space-between;

  @media (min-width: $table-width) {
    width: 100%;
    justify-content: space-between;
    flex: none;
  }
}

.products__title {
  @include font-text($oswald, 16px, 20px, 400);
  margin: 0;
  padding-bottom: 19px;
  padding-top: 24px;
  width: 75px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 20px, 400);
    padding-top: 165px;
    width: 135px;
    margin: 0 auto;
    text-align: center;
  }
}

.products__criteria {
  @include font-text($arial, 16px, 16px, 400);
  color: $text;
}

.products__value {
  @include font-text($arial, 16px, 16px, 400);
  color: $text;
}
