.products {
  @include list-reset;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  border-top: 1px solid $border;
}

.products__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px 22px;
  border-bottom: 1px solid $border;
  float: 1;

}

.products__item-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.products table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 23px;
}

.products tr {
  display: flex;
  justify-content: space-between;
}

.products__title {
  @include font-text($oswald, 16px, 20px, 400);
  margin: 0;
  padding-bottom: 19px;
  padding-top: 24px;
  width: 75px;
  text-transform: uppercase;
}

.products__criteria {
  @include font-text($arial, 16px, 16px, 400);
  color: $text;
}

.products__value {
  @include font-text($arial, 16px, 16px, 400);
  color: $text;
}

.more-info__title {
  @include font-text($oswald, 16px, 20px, 400);
  margin-top: 26px;
  margin-bottom: 16px;
}

.more-info__text {
  @include font-text($arial, 12px, 16px, 400);
  color: $text;
  margin-bottom: 25px;
}

