.promo {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  padding-bottom: 20px;
}

.promo__text {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding-bottom: 30px;
}
