.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
   position: relative;

  @media (min-width: $table-width) {
    background-image: none;
  }
}

.promo__wrapper {
  @include wrapper;
  text-align: center;
}

.promo__title {
  @include font-text($oswald, 36px, 36px, 400);
  margin: 0;
  padding-top: 30px;
  color: #ffffff;
  padding-bottom: 20px;

  @media (min-width: $table-width) {
    padding-top: 63px;
    padding-bottom: 46px;
    color: $black;
    max-width: 427px;
    margin-left: 90px;
    text-align: left;
  }

  &--white {
    @include font-text($oswald, 36px, 36px, 400);

    //Решить данную проблему
    @media (min-width: $table-width) {
      @include font-text($oswald, 60px, 60px, 400);
    }
  }
}

.promo__text {
  @include font-text($oswald, 14px, 14px, 400);
  margin: 0;
  color: #ffffff;
  padding-bottom: 30px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 20px, 400);
    color: $black;
    max-width: 295px;
    margin-left: 90px;
    text-align: left;
  }
}


