.promo {
  width: 320px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__wrapper {
  @include wrapper;
  text-align: center;
}

.promo__title {
  @include font-text($oswald, 36px, 36px, 400);
  margin: 0;
  padding-top: 30px;
  color: #ffffff;
  padding-bottom: 20px;
}

.promo__text {
  @include font-text($oswald, 14px, 14px, 400);
  margin: 0;
  color: #ffffff;
  padding-bottom: 30px;
}
