.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

  @media (min-width: $table-width) {
    background-image: none;
  }


  /*
  @include retina {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
  */
}

.promo__header {

  @media (min-width: $table-width) {
    padding-left: 90px;
    padding-bottom: 530px;
  }


  @media (min-width: $desktop-width) {
    padding-bottom: 188px;
  }

}


.promo::after {
  @media (min-width: $desktop-width) {

    content: "";
    position: absolute;
    width: 720px;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    right: 0;
    top: -113px;
    z-index: 0;
  }
}

.promo__image {
  @media (min-width: $table-width) {
    position: absolute;
    left: 120px;
    top: 270px;
    z-index: -3;
    width: 550px;
    height: 500px;
  }
  @media (min-width: $desktop-width) {
    position: absolute;
    top: -100px;
    z-index: -3;
   
  }
}

.promo__wrapper {
  @include wrapper;
  text-align: center;
}

.promo__title {
  @include font-text($oswald, 36px, 36px, 400);
  margin: 0;
  padding-top: 30px;
  color: #ffffff;
  padding-bottom: 20px;

  &--white {
    @include font-text($oswald, 36px, 36px, 400);
  }

  @media (min-width: $table-width) {
    @include font-text($oswald, 60px, 60px, 400);
    padding-top: 62px;
    padding-bottom: 43px;
    color: $black;
    max-width: 427px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 108px;
  }
}

.promo__text {
  @include font-text($oswald, 14px, 14px, 400);
  margin: 0;
  color: #ffffff;
  padding-bottom: 21px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 20px, 400);
    color: $black;
    max-width: 295px;
    text-align: left;
    padding-bottom: 50px;
    // padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 54px;
  }
}
