.results {
  margin-bottom: 25px;


  @media (min-width: $table-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.results__cat {
  margin: 0 auto;
}

.results__amount {
  @include font-text($oswald, 24px, 24px, 400);

  @media (min-width: $table-width) {
    @include font-text($oswald, 30px, 37px, 400);
    min-width: 100px;

    margin: 16px 0;

  }
}

.results__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $table-width) {
    min-width: 365px;
  }
}

.results__item {
  border: 1px solid $price;
  position: relative;
  width: 123px;
  text-align: center;
  padding: 16px 0;

  @media (min-width: $table-width) {
    min-width: 162px;
  }

}

.results__action {
  @include font-text($arial, 12px, 12px, 400);
  color: $text;
  position: absolute;
  left: 18px;
  top: 53px;
  background-color: $bgc;
  width: 87px;

  @media (min-width: $table-width) {
    @include font-text($arial, 14px, 14px, 400);
    width: 143px;
    left: 9px;
    top: 63px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: $bgc;
  }
}


.results__cost {
  @include font-text($oswald, 14px, 20px, 400);
  padding: 0 46px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 46px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    @include font-text($oswald, 20px, 20px, 400);
    min-width: 180px;
    padding: 0;
    margin: 0;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    min-width: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 76px;
  }

}

.results__cost span {
  @media (min-width: $table-width) {
    display: block;
    text-align: end;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

}


.results-block__photo label {
  @include font-text($oswald, 16px, 20px, 400);
}
