.site-list {
  @include list-reset;

  @media (min-width: $table-width) {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
  }
}

.site-list__item {
  @include font-text($oswald, 20px, 20px, 500);
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid $border;
  text-transform: uppercase;

  a {
    position: relative;
    color: $black;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {

      color: #c1ddb1;
    }
  }

  @media (min-width: $table-width) {
    @include font-text($oswald, 18px, 25px, 400);
    border: none;
  }
}



.site-list__link--active::after {
  @media (min-width: $table-width) {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $green;
    position: absolute;
    bottom: -5px;
    left: 0;
  }

}

.site-list--white a {
  @media (min-width: $desktop-width) {
    color: white;
  }
}

.site-list__link--active-white::after {
  @media (min-width: $desktop-width) {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}
