.slider__photo-before {
  margin: 0 auto;
}

.example__slider {
  background-color: $bgc;
}


.product-promotion__img-toggle-block {
  @include font-text($oswald, 16px, 20px, 400);
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;

  @media (min-width: $table-width) {
    left: 0;
    bottom: 70px;
    transform: translate(4.5%);

    // @include container-tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 68px;
    padding: 0 15px;
    margin: 0;
  }
}

.product-promotion__toggle {
  display: block;
  padding: 0 16px;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $table-width) {

    padding: 0;
    border-bottom: 1px dotted $border-hover-color;

    //@include set-font-size(20px, 30px);

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 21px 0 21px;
    flex-grow: 1;
    height: 6px;
    background-color: $toogle-color;

  }
}


.product-promotion__slider-bar {
  position: relative;
  width: 27%;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;

  @media (min-width: $table-width) {
    .product-promotion__slider-bar {
      margin: 0 21px 0 21px;
      flex-grow: 1;
      height: 6px;

    }

  }
}

.product-promotion__range-slider {
  position: absolute;
  width: 45%;
  height: 6px;
  right: 6px;
  top: 3px;
  border: none;
  border-radius: 6px;
  font-size: 0;
  color: transparent;
  background-color: $banner-bg-color;
  cursor: pointer;

  &.before {
    left: 6px;
  }

  @media (min-width: $table-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $main-bg-color;
    border: 1px solid $border-input-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: $button-bg-color;
    }

    &.before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px #68b738;
    }
  }
}
