.social {
  max-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;

  @media (min-width: $table-width) {
    min-width: 150px;
    padding: 0;
  }
}

.social__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
