.social {
  list-style: none;
  margin: 0;
  padding: 22px 0 11px 31px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.social__list-item {
  margin-right: 38px;
  margin-bottom: 11px;
}

.social__link {
  display: flex;
  text-decoration: none;
  color: $icon-color;


  &--vk {
    width: 21px;
    height: 12px;

  }

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $icon-active-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 22px 0 11px 39px;
    border: none;
    width: 40%;
  }

  .social__list-item {
    margin-right: 28px;
  }

  .social__link {
    padding: 0;
    border: none;

    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding: 32px 0 21px 62px;
  }
}
