.title-border::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: $green;
  top: 10.5%;

  @media (min-width: $table-width) {
    right: 0;
    top: 11%;
  }
}
