.toggle {
  min-width: 24px;
  min-height: 18px;
  border: none;
  background-color: transparent;

  & img {
    width: 24px;
    height: 18px;
  }

  @media (min-width: $table-width) {
    display: none;
  }
}
