html,
body {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  box-sizing: border-box;

  min-width: 320px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
}
li{
  list-style: none;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button{
  display: inline-block;
  max-width: 280px;
  min-height: 40px;
  padding: 13px 80px;
  background-color: $green;
}

