@mixin wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}

@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin v-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font-text($font-family: $oswald, $font-size: 12px, $line-height: 16px, $font-weight: 400) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin tablets {
  @media (min-width: 768px) {
    @content;
  }
}
