$black: #111111;
$bgc: #f2f2f2;
$green: #68b738;
$text: #444444;
$border: #d9d9d9;
$price: #cdcdcd;

$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;

$table-width: 768px;
$desktop-width: 1200px;
