$black: #111111;
$bgc: #f2f2f2;
$green: #68b738;
$text: #444444;
$border: #d9d9d9;
$price: #cdcdcd;
$form-border: #ededed;
$checkbox: #cfcfcf;


$border-input-color: #cdcdcd;
$banner-bg-color: #5eaa2f;
$border-hover-color: #bababa;
$toogle-color: #dcdcdc;
$main-bg-color: white;
$button-bg-color: #68b738;
$tablet-width: 768px;
$retina-dppx: 1.5dppx;
$blocks-bg-color: #f2f2f2;
$blocks-bg-color-add: #eaeaea;
$icon-color: #666666;
$icon-active-color: $button-bg-color;


$oswald: "Oswald","Verdana",sans-serif;
$arial: "Arial",sans-serif;

$table-width: 768px;
$desktop-width: 1300px;
