@import "general/normalize.scss";
@import "general/fonts.scss";
@import "general/mixin.scss";
@import "general/vars.scss";
@import "general/global.scss";
@import "blocks/button-menu.scss";
@import "blocks/cat-comments.scss";
@import "blocks/cat-bio.scss";
@import "blocks/cat-contacts.scss";
@import "blocks/cat-target.scss";
@import "blocks/form.scss";
@import "blocks/logo.scss";
@import "blocks/product-additional.scss";
@import "blocks/product-groups.scss";
@import "blocks/slider.scss";
@import "blocks/page-header.scss";
@import "blocks/promo.scss";
@import "blocks/products.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/button.scss";
@import "blocks/blocks-title.scss";
@import "blocks/results.scss";
@import "blocks/copyright.scss";
@import "blocks/site-list.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/button-size.scss";
@import "blocks/button-grey.scss";
@import "blocks/cat-additional.scss";
@import "blocks/social.scss";
@import "blocks/button-sell.scss";
@import "blocks/additional.scss";
@import "blocks/gift.scss";
@import "blocks/more-info.scss";
@import "blocks/title-border.scss";
@import "blocks/map-white.scss";
@import "blocks/button-form.scss";

