@import "general/normalize.scss";
@import "general/fonts.scss";
@import "general/mixin.scss";
@import "general/vars.scss";
@import "general/global.scss";

@import "blocks/page-header.scss";
@import "blocks/promo.scss";
@import "blocks/product-groups.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-additional.scss";
