@import "general/normalize.scss";
@import "general/fonts.scss";
@import "general/mixin.scss";
@import "general/vars.scss";
@import "general/global.scss";
@import "blocks/page-header.scss";
@import "blocks/promo.scss";
@import "blocks/products.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-additional.scss";
@import "blocks/button.scss";
@import "blocks/blocks-title.scss";
@import "blocks/additional.scss";
@import "blocks/results.scss";
@import "blocks/copyright.scss";
@import "blocks/site-list.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";

