.advantages {
  @include container-mobile;
  padding: 0;

  @include font-content(14px, 18px);
  color: $txt-main-color;
}

.advantages__header {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;

  @include font-header(36px, 60px);
  color: $txt-header-color;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: relative;
    flex-grow: 0;
    margin-right: 20px;
    min-width: 60px;
    height: 60px;
    background-color: $image-bg-color;
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-size: 60%;
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }
}

.advantages__list-item--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }
}

.advantages__list-item--dining {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }
}

.advantages__list-item--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    @include container-tablet;
    padding: 0;
    border-bottom: 1px solid $border-block-color;

    @include set-font-size(16px, 24px);
  }

  .advantages__header {
    margin-bottom: 40px;

    @include set-font-size(60px, 60px);
  }

  .advantages__list {
    counter-reset: advantages-items;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
  }

  .advantages__list-item {
    position: relative;
    z-index: 0;
    width: 35%;
    margin: 32px 79px 100px 0;
    flex-wrap: wrap;
    align-content: flex-start;

    &::before {
      content: "";
      flex-grow: 0;
      margin-right: 100px;
      margin-bottom: 33px;
      min-width: 80px;
      height: 80px;
    }

    &::after {
      counter-increment: advantages-items;
      content: counter(advantages-items);
      position: absolute;
      z-index: -1;
      right: 41px;
      top: -40px;
      width: 89px;

      @include font-header(281px, 281px);
      color: $blocks-bg-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    @include container-desktop;
    padding: 0;
    border-bottom: none;

    @include set-font-size(16px, 24px);
  }

  .advantages__list-item {
    width: 20%;
    margin-right: 81px;

    &:last-child {
      margin-right: auto;
    }
  }
}
