.block-header {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: $mobile-padding;
  margin-bottom: 35px;
  display: flex;
  align-items: flex-start;

  @include font-header(24px, 24px);

  &::after {
    content: "";
    margin-top: 15px;
    height: 3px;
    min-width: 10%;
    flex-grow: 2;
    margin-left: 24px;
    background-color: $button-bg-color;
  }
}

@media (min-width: $tablet-width) {
  .block-header {
    padding: 0;

    @include set-font-size(36px, 36px);

    &::after {
      margin-left: 37px;
      margin-top: 21px;
    }

    &::before {
      content: "";
      margin-top: 21px;
      height: 3px;
      width: $tablet-padding;
      margin-right: 38px;
      background-color: $button-bg-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .block-header {
    padding: 0;

    &::before {
      width: 0.3%;
    }
  }
}
