.button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 11px;
  border: none;

  @include font-header(14px, 18px);
  color: $txt-contr-color;
  background-color: $button-bg-color;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($txt-contr-color, 0.3);
    background-color: #5eaa2f;
  }

  &--gray {
    color: #444444;
    background-color: #f2f2f2;
  }

  &--gray:hover,
  &--gray:focus {
    background-color: #ebebeb;
  }

  &--gray:active {
    color: rgba(#444444, 0.3);
    background-color: #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 10px;

    @include font-header(16px, 20px);
  }
}
