.extra-card {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 17px;

  @include font-content(12px, 16px);
  color: $txt-main-color;
}

.extra-card__header {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 10px;
  margin-right: 50px;
  padding: 0;

  @include font-header(16px, 20px);
  color: $txt-header-color;
  background-color: inherit;
  text-transform: uppercase;
}

.extra-card__options-item {
  width: 100%;
  list-style: none;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.extra-card__option {
  margin: 0;
  width: 60%;
  margin-right: auto;
}

.extra-card__value {
  margin: 0;
  width: 40%;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .extra-card {
    justify-content: space-between;
    padding: 26px 38px 28px;

    @include set-font-size(16px, 16px);
  }

  .extra-card__header {
    max-width: 50%;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    width: auto;

    @include set-font-size(20px, 20px);
  }

  .extra-card__options-item {
    width: 228px;
    margin: 0;
    margin-top: 5px;
  }

  .extra-card__option,
  .extra-card__value {
    padding: 0;
    border: none;
    text-align: right;
  }

  .extra-card__option {
    padding-right: 4px;
  }
}

@media (min-width: $desktop-width) {
  .extra-card {
    padding: 17px 0 14px;
    justify-content: flex-start;
    align-items: center;
  }

  .extra-card__header {
    margin: 0;
    width: 270px;
    text-align: left;
  }

  .extra-card__options-item {
    min-width: 287px;
    margin-left: auto;
  }

  .extra-card__option {
    text-align: left;
    margin-right: auto;
  }

  .extra-card__value {
    width: 47px;
    text-align: left;
  }

  .extra-card__buy {
    width: 245px;
    margin-left: 36px;
  }
}
