.form {
  @include font-header(16px, 18px);
  color: $txt-form-color;
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form__block-wrapper {
  width: 100%;
  padding: 0 $mobile-padding;
}

.form__description {
  @include container-mobile;
  margin-bottom: 38px;
  padding: 0;
  padding-right: 30px;

  @include font-header(14px, 18px);
  text-transform: uppercase;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  border: none;

  &--cat {
    margin-bottom: 25px;
    padding: 0 $mobile-padding;
  }

  &--programm {
    margin-bottom: 30px;
    border-top: 1px solid $border-block-color;
    border-bottom: 1px solid $border-block-color;
    padding: 0 $mobile-padding;
  }

  &--contacts {
    margin-bottom: 28px;
  }

  &--comment {
    margin-bottom: 12px;
  }

  &--extra-goods {
    margin-bottom: 15px;
  }
}

.form__legend {
  margin: 0;
  padding: 0;
  padding-left: $mobile-padding;
  width: 100%;

  &::after {
    min-width: 30%;
  }

  &--contacts {
    margin-bottom: 34px;
  }

  &--comment {
    margin-bottom: 34px;
  }

  &--extra-goods {
    margin-bottom: 17px;
  }
}

.form__label {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;

  &--email,
  &--tel {
    position: relative;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__text-in {
  width: 40%;
  flex-grow: 1;
  padding: 12px 16px;
  margin-left: 15px;
  border: 1px solid rgba($border-input-color, 0.5);
  text-transform: uppercase;
  outline: transparent;

  &:invalid {
    border-color: $border-error-color;
  }

  &:hover {
    border-color: $border-input-color;
  }

  &:focus {
    border-color: $txt-main-color;
    box-shadow: 0 0 0 1px $txt-main-color;
  }

  &--email,
  &--tel {
    padding-right: 35px;
  }
}

.form__text-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.form__text-in:invalid + .form__text-icon {
  fill: $border-error-color;
}

.form__text-in:focus + .form__text-icon {
  fill: $icon-active-color;
}

.form__textarea {
  margin-bottom: 15px;
  width: 100%;
  height: 150px;
  padding: 15px 0 0 15px;
  border: 1px solid $border-input-color;
  resize: vertical;
  text-transform: uppercase;
}

.form__submit {
  margin-bottom: 23px;
}

.form__dictionary {
  margin: 0;
  text-align: center;

  @include font-content(14px, 16px);
  color: $txt-main-color;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 25px;
    margin-bottom: 18px;

    @include set-font-size(20px, 20px);
  }

  .form__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 71px;
  }

  .form__description {
    width: 60%;
    margin: 0;
    margin-bottom: 65px;
    padding: 0 50px 0 70px;

    @include set-font-size(20px, 30px);
  }

  .form__label {
    margin-bottom: 21px;
    white-space: normal;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__text-in {
    margin-left: 19px;
    padding: 13px 16px;
  }

  .form__fieldset {
    &--cat {
      width: auto;
      margin: 0 71px 74px;
      padding: 0;
    }

    &--programm {
      width: auto;
      margin: 0 71px 78px;
      padding: 0 25px;
      border: 1px solid $border-block-color;
    }

    &--contacts {
      margin-bottom: 67px;
    }

    &--comment {
      margin-bottom: 40px;
    }

    &--extra-goods {
      margin-bottom: 33px;
    }
  }

  .form__legend {
    margin: 0;
    padding: 0;
    width: 100%;

    &::after {
      min-width: 10%;
    }

    &--contacts {
      margin-bottom: 75px;
    }

    &--comment {
      margin-bottom: 75px;
    }

    &--extra-goods {
      margin-bottom: 33px;
    }
  }

  .form__textarea {
    height: 175px;
    margin-bottom: 25px;
  }

  .form__submit {
    width: 45.5%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 57px;

    @include set-font-size(20px, 20px);
  }

  .form__dictionary {
    width: 45%;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    text-align: left;

    @include set-font-size(16px, 16px);
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $desktop-padding;
  }

  .form__description {
    width: 100%;
    padding: 0;
    margin: 0 $desktop-padding 65px;
    padding-right: 65%;
  }

  .form__fieldset {
    &--cat {
      width: 43.5%;
      margin: 0;
      margin-bottom: 72px;
      padding: 0;
      margin-left: $desktop-padding;
    }

    &--programm {
      width: 44%;
      margin: 0;
      margin-right: $desktop-padding;
      margin-bottom: 72px;
      padding: 0 25px;
      border: 1px solid $border-block-color;
    }

    &--contacts {
      width: 100%;
      margin-bottom: 70px;
    }

    &--comment {
      margin-bottom: 42px;
    }

    &--extra-goods {
      margin-bottom: 37px;
    }
  }

  .form__label {
    &--tel,
    &--email {
      width: 47%;
      margin-bottom: 0;
    }
  }

  .form__submit {
    width: 46.5%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 65px;

    @include font-header(20px, 20px);
  }

  .form__dictionary {
    width: 47%;
  }
}
