.page-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid $border-block-color;
}

.page-list__item-link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 22px $mobile-padding;
  border-bottom: 1px solid $border-block-color;
  text-decoration: none;
  text-transform: uppercase;

  @include font-menu(20px, 20px);
  color: $txt-header-color;

  &--active {
    border-bottom: 1px solid $button-bg-color;
    cursor: default;
  }

  &:not(&--active):hover,
  &:not(&--active):focus {
    opacity: 0.6;
  }

  &:not(&--active):active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border: none;
  }

  .page-list__item-link {
    width: auto;
    padding: 8px 0;
    margin: 0 0 0 36px;

    @include font-header(18px, 25px);

    &:not(&--active) {
      border-bottom: none;
    }

    &--active {
      border-bottom: 2px solid $button-bg-color;
      cursor: default;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-list__item-link {
    //Сделано потому что сдвигаем нижний блок, чтобы было над ним видно.
    position: relative;
    z-index: 1;

    margin-right: 0;
    margin-left: 33px;

    @include set-font-size(20px, 25px);

    &--index {
      color: $txt-contr-color;
    }

    &--index.page-list__item-link--active {
      border-color: $txt-contr-color;
      cursor: default;
    }
  }
}
