$button-color: #222222;

.page-header {
  position: relative;
  padding-top: 11px;
  border-bottom: 1px solid $border-block-color;

  @include font-menu(20px, 22px);
  color: $txt-header-color;
  background-color: $main-bg-color;
}

.page-header__logo {
  display: flex;
  width: 191px;
  height: 39px;
  margin-bottom: 15px;
  margin-left: $mobile-padding;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__menu-toggle {
  position: absolute;
  right: $mobile-padding;
  top: 22px;
  width: 25px;
  height: 19px;
  margin-top: 1px;
  margin-bottom: 3px;
  border: none;
  border-top: 2px solid $button-color;
  border-bottom: 2px solid $button-color;
  color: transparent;
  background-color: transparent;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-1px);
    width: 100%;
    height: 2px;
    background-color: $button-color;
  }

  &--opened {
    border: none;
  }

  &--opened::after {
    transform: translateY(-1px) rotate(45deg);
  }

  &--opened::before {
    transform: translateY(-1px) rotate(-45deg);
  }

  &.no-js {
    display: none;
  }
}

.page-header__nav {
  &--mobile-closed {
    display: none;
  }

  &.no-js {
    display: block;
  }
}

.page-header__nav--mobile-close {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    padding: 24px $tablet-padding 24px;
    border: none;
  }

  .page-header__logo {
    width: 174px;
    height: 59px;
    padding: 0;
    margin: 0;
    margin-right: auto;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__nav {
    padding-top: 10px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    padding: 55px $desktop-padding 50px;

    &--index {
      margin-bottom: -173px;
      padding: 55px $desktop-padding;
      background-image: linear-gradient(to right, $main-bg-color 50%, $image-bg-color 50%);
    }
  }

  .page-header__logo {
    width: 203px;
    height: 60px;
  }

  .page-header__nav {
    width: 50%;
  }
}
