.product-promotion {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 16px;

  @include font-content(14px, 18px);
  color: $txt-main-color;
  background-color: $blocks-bg-color;
}

.product-promotion__text-content {
  @include container-mobile;
  padding: 0;
  background-color: inherit;
}

.product-promotion__header {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @include font-header(36px, 60px);
  color: $txt-header-color;
}

.product-promotion__description {
  margin: 0;
  padding: 4px 5px 4px 0;
  margin-bottom: 22px;
}

.product-promotion__progress {
  background-color: inherit;
  list-style: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 99%;
}

.product-promotion__progress-value {
  position: relative;
  width: 44%;
  margin-bottom: 19px;
  padding: 14px 0;
  border: 1px solid $border-input-color;
  border-radius: 3px;

  @include font-header(24px, 24px);
  text-transform: uppercase;
  text-align: center;
  color: $txt-header-color;
  background-color: inherit;
}

.product-promotion__progress-description {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(25%, 60%);
  padding: 0 5.71%;
  width: 70%;

  @include font-content(12px, 12px);
  color: $txt-main-color;
  background-color: inherit;
  text-transform: lowercase;
  text-align: center;
}

.product-promotion__expense {
  margin: 0;
  margin-bottom: 37px;
  padding: 0 47px;
  text-transform: uppercase;

  @include font-header(14px, 20px);
  color: $txt-header-color;
  background-color: inherit;
  text-align: center;
}

.product-promotion__expense span {
  display: none;
}

.product-promotion__example-images {
  align-self: center;
}

.product-promotion__image-block {
  margin-bottom: 33px;

  &--after {
    display: none;
  }
}

.product-promotion__img {
  width: 311px;
  height: 232px;
}

.product-promotion__img-toggle-block {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}

.product-promotion__toggle {
  display: block;
  padding: 2px 16px;
  border: none;

  @include font-header(16px, 20px);
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.product-promotion__slider-bar {
  position: relative;
  width: 27%;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: $main-bg-color;
  cursor: pointer;
}

.product-promotion__range-slider {
  position: absolute;
  width: 45%;
  height: 6px;
  right: 6px;
  top: 3px;
  border: none;
  border-radius: 6px;
  font-size: 0;
  color: transparent;
  background-color: $banner-bg-color;
  cursor: pointer;

  &.before {
    left: 6px;
  }
}

@media (min-width: $tablet-width) {
  .product-promotion {
    display: flex;
    flex-direction: column;

    @include set-font-size(16px, 24px);
    background-color: inherit;
  }

  .product-promotion__text-content {
    align-self: flex-start;

    @include container-tablet;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
    background-color: inherit;
  }

  .product-promotion__header {
    margin-bottom: 60px;

    @include set-font-size(60px, 60px);
  }

  .product-promotion__description {
    padding-right: 20px;
    margin-bottom: 49px;
  }

  .product-promotion__progress {
    width: 51.5%;
    margin: 0;
    margin-right: auto;
  }

  .product-promotion__progress-value {
    padding-bottom: 18px;

    @include set-font-size(30px, 37px);
  }

  .product-promotion__progress-description {
    padding: 0 2%;
    width: 90%;
    transform: translate(5%, 60%);

    @include font-content(14px, 14px);
  }

  .product-promotion__expense span {
    display: block;
  }

  .product-promotion__expense {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    padding-top: 6px;
    text-align: right;

    @include set-font-size(20px, 30px);
  }

  .product-promotion__example-images {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .product-promotion__image-block {
    display: flex;
    //Сделано так, из-за странной работы justify-content в ie11
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 104px;
    background-image: linear-gradient(to bottom, $main-bg-color 26.5%, $blocks-bg-color 26.5%);
    overflow: hidden;

    &--after {
      align-items: flex-start;
      background-image: linear-gradient(to bottom, $main-bg-color 26.5%, $blocks-bg-color-add 26.5%);
    }
  }

  .product-promotion__img {
    flex-shrink: 0;
    width: 636px;
    min-width: 636px;
    height: 517px;

    &--before {
      transform: translate(50%);
    }

    &--after {
      left: 0;
      transform: translate(-50%);
    }
  }

  .product-promotion__img-toggle-block {
    position: absolute;
    left: 0;
    bottom: 70px;
    transform: translate(4.5%);

    @include container-tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    margin: 0;
  }

  .product-promotion__toggle {
    padding: 0;
    border-bottom: 1px dotted $border-hover-color;

    @include set-font-size(20px, 30px);

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      border-bottom: none;
    }
  }

  .product-promotion__slider-bar {
    margin: 0 21px 0 21px;
    flex-grow: 1;
    height: 6px;
    background-color: $toogle-color;
  }

  .product-promotion__range-slider {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $main-bg-color;
    border: 1px solid $border-input-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: $button-bg-color;
    }

    &.before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-promotion {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    padding-left: $desktop-padding;
    background-color: $blocks-bg-color;
  }

  .product-promotion__text-content {
    align-self: flex-start;
    padding: 0;
    margin: 0;
    margin-right: 12%;
    padding-top: 65px;
    width: 36%;
  }

  .product-promotion__header {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -135px;
  }

  .product-promotion__description {
    margin-bottom: 67px;
  }

  .product-promotion__progress {
    width: 81%;
    margin-bottom: 30px;
  }

  .product-promotion__expense {
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 68px;
  }

  .product-promotion__example-images {
    width: 650px;
    align-self: stretch;
    padding: 0;
    margin: 0;
  }

  .product-promotion__image-block {
    margin: 0;
    margin-top: -190px;
    justify-content: flex-end;
    padding-bottom: 127px;

    &--before {
      background-image: none;
    }

    &--after {
      background-image: linear-gradient(to bottom, transparent 190px, $blocks-bg-color-add 190px);
    }
  }

  .product-promotion__img {
    &--before {
      transform: translate(45%);
    }

    &--after {
      transform: translate(-52.5%);
    }
  }

  .product-promotion__img-toggle-block {
    bottom: 68px;
    padding: 0 15px;
    margin: 0;
  }
}
