.product-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 $mobile-padding 24px;

  @include font-content(12px, 16px);
  color: $txt-main-color;
}

.product-card__product-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 50%;
}

.product-card__image {
  vertical-align: top;
  width: 100%;
  height: 144px;
}

.product-card__txt-content {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  width: 50%;
}

.product-card__header {
  margin: 0;
  margin-top: 12px;
  margin-bottom: auto;
  margin-right: 50px;
  padding: 0;

  @include font-header(16px, 20px);
  color: $txt-header-color;
  background-color: inherit;
  text-transform: uppercase;
}

.product-card__options-item {
  width: 100%;
  list-style: none;
  margin: 14px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card__option {
  margin: 0;
  width: 60%;
  margin-right: auto;
}

.product-card__value {
  margin: 0;
  width: 40%;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    padding: 163px 37px 40px;
    background-color: $blocks-bg-color;

    @include set-font-size(16px, 16px);
  }

  .product-card__product-link {
    width: 100%;
    height: 208px;
    position: absolute;
    align-items: flex-end;
    top: -82px;
    left: 0;
  }

  .product-card__image {
    object-fit: none;
    width: 100%;
    height: 174px;

    &--big {
      width: 100%;
      height: 208px;
    }
  }

  .product-card__txt-content {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .product-card__header {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 60px;
    width: 100%;
    text-align: center;

    @include set-font-size(20px, 20px);
  }

  .product-card__option,
  .product-card__value {
    padding: 7px 0;
    flex-grow: 1;
    border-bottom: 1px solid $border-input-color;
  }

  .product-card__options-item {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .product-card__header {
    padding: 0 20px;
  }

  .product-card__options-item {
    width: 100%;
  }

  .product-card__image {
    width: 100%;
    height: 174px;

    &--big {
      width: 100%;
      height: 208px;
    }
  }
}
