.program-card {
  position: relative;

  min-height: 266px;
  margin-bottom: 18px;
  padding: 20px;

  @include font-content(14px, 18px);
  color: $txt-main-color;
  background-color: $blocks-bg-color;

  &::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 27px;
    width: 50px;
    height: 50px;
    border: 4px solid transparent;
    border-radius: 50%;
    background-color: $button-bg-color;
  }
}

.program-card__header-icon {
  position: absolute;
  left: 30px;
  top: 26px;
  width: 35px;
  height: 49px;

  &--pro {
    left: 12px;
    top: 38px;
    width: 67px;
    height: 28px;
  }
}

.program-card__header {
  margin: 12px 30px 27px 72px;

  @include font-header(24px, 37px);
  color: $txt-header-color;
  text-transform: uppercase;
}

.program-card__description {
  margin-bottom: 23px;
}

.program-card__more-details {
  $item-color: rgba(gray, 0.5);
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
  text-decoration: none;

  @include font-header(16px, 16px);
  color: $txt-header-color;
  text-transform: uppercase;
  border-top: 2px solid $item-color;

  &::after {
    content: "";
    transition: width 0.3s linear 0s;
    margin: auto 0 auto 12px;
    width: 20px;
    height: 2px;
    background-color: $txt-header-color;
  }

  &::before {
    content: "";
    order: 2;
    margin: auto 0;
    border: 5px solid transparent;
    border-left-color: $txt-header-color;
  }

  &:hover::after {
    width: 34px;
  }

  &:active {
    color: rgba($txt-header-color, 0.3);
  }

  &:active::after,
  &:active::before {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .program-card {
    min-width: 100%;
    margin-bottom: 30px;
    padding: 52px 285px 60px 51px;

    @include set-font-size(16px, 24px);

    &::before {
      left: auto;
      right: 62px;
      top: 92px;
      width: 200px;
      height: 200px;
    }
  }

  .program-card__header-icon {
    left: auto;
    right: 92px;
    top: 80px;
    width: 141px;
    height: 194px;

    &--pro {
      left: auto;
      right: 28px;
      top: 135px;
      width: 268px;
      height: 113px;
    }
  }

  .program-card__header {
    margin: 25px 0;

    @include set-font-size(36px, 37px);
  }

  .program-card__description {
    margin-bottom: 36px;

    &--pro {
      padding-right: 30px;
    }
  }

  .program-card__more-details {
    border: none;

    @include set-font-size(20px, 20px);

    &::after {
      margin-left: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-card {
    width: 100%;
    margin: 0;
    padding: 53px 53px 60px 53px;

    @include set-font-size(16px, 24px);

    &::before {
      left: 53px;
      top: 46px;
      width: 100px;
      height: 100px;
    }
  }

  .program-card__header-icon {
    left: 67px;
    top: 40px;
    width: 71px;
    height: 97px;

    &--pro {
      left: 35px;
      top: 68px;
      width: 134px;
      height: 57px;
    }
  }

  .program-card__header {
    margin: 22px 25px 74px 0;
    padding-left: 160px;

    @include set-font-size(36px, 37px);
  }

  .program-card__description {
    margin-bottom: 12px;
  }

  .program-card__more-details {
    border: none;

    @include set-font-size(20px, 20px);

    &::after {
      margin-left: 22px;
    }
  }
}
