@mixin font-content($p-width: 14px, $p-line-height: 18px) {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: $p-width;
  line-height: $p-line-height;
}

@mixin font-menu($p-width: 20px, $p-line-height: 20px) {
  font-family: "Oswald", "Impact", sans-serif;
  font-size: $p-width;
  line-height: $p-line-height;
  font-weight: 500;
}

@mixin font-header($p-width: 36px, $p-line-height: 36px) {
  font-family: "Oswald", "Impact", sans-serif;
  font-size: $p-width;
  line-height: $p-line-height;
  font-weight: 400;
}

@mixin set-font-size($p-width: 14px, $p-line-height: 18px) {
  font-size: $p-width;
  line-height: $p-line-height;
}

@mixin container-mobile {
  width: $mobile-content-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin mobile-padding($p-top: 0, $p-bottom: 0) {
  padding: $p-top 6.25vw $p-bottom;
}

@mixin container-tablet {
  width: $tablet-content-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin container-desktop {
  width: $desktop-content-width;
  margin-left: auto;
  margin-right: auto;
}
